//
//  Constant.swift
//  PicUp
//
//  Created by Joy on 2018-12-02.
//  Copyright © 2018 Joy Zeng. All rights reserved.
//

struct Constants {
    struct Imgur {
        static let url = "https://api.imgur.com/3/upload"
        static let clientId = "CLIENT_ID"
    }}
